<div id="header-inner">
    <div id="client-logo" class="floatleft">
        <a href="/host/webduct/index.php">
            <img src="https://www01.webduct.com/webduct/assets/deployments/webduct/images/header-logo.png?56b57475c5b3618da90d4a527838a9e8" alt="Webduct logo" title="Webduct" style="margin-top: 5px;">
        </a>
    </div>

    <div id="contact" class="floatright">
        <div id="user_name">
            <a href="/host/webduct/index.php?module=order&amp;action=logout" class="floatright logout_hd">Logout</a>
            Logged in as
      <span>
              williamjxj@hotmail.com
            </span>
        </div>

        <div id="contact-info">
            <p class="pitch">Call Today!</p>
            <p class="phone">1-855-932-3828</p>
        </div>
    </div>


    <div style="clear: both;"></div>
</div>