<table id="header">
    <tbody><tr>
        <td id="logo"><span class="wsite-logo"><a href="/"><img src="http://cloud.webduct.com/uploads/3/0/5/9/30595051/1401900414.png"></a></span></td>
        <td id="header-right">
            <table>
                <tbody><tr>
                    <td class="phone-number"><span class="wsite-text wsite-phone">1.855.932.3828</span></td>
                    <td class="social"><div style="text-align:left;"><div style="height:0px;overflow:hidden"></div>
                        <span class="wsite-social wsite-social-default"><a class="first-child wsite-social-item wsite-social-facebook" href="https://www.facebook.com/WebductSystemsInc?fref=ts" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="wsite-social-item wsite-social-twitter" href="https://twitter.com/webductsystems" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="wsite-social-item wsite-social-linkedin" href="https://www.linkedin.com/company/webduct-systems-inc-" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="last-child wsite-social-item wsite-social-mail" href="mailto:sales@webduct.com" target="_blank"><span class="wsite-social-item-inner"></span></a></span>
                        <div style="height:0px;overflow:hidden"></div></div></td>
                </tr>
                </tbody></table>
            <div class="search"></div>
        </td>
    </tr>
    </tbody>
</table>