<div id="sidebar-left">
<div class="inner">
<div id="category_menu" class="sidebar_block">
    <div class="inner">
        <h3>Store</h3>
        <!--<div>Filter: <input ng-model="query"></div>-->
        <ul class="menu menuroot">
            <li class="menutitle" ng-class="{'collapsible':submenu==true}"><a ng-click="submenu=!submenu">RECTANGULAR</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=21">DUCT</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=20">ELBOWS &amp; TEES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=22">OFFSETS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=19">TRANSITIONS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=64">FLEX</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=23">FIRE DAMPER SLEEVES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=69">TROFFERS / GRILL BOXES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=71">SCREENS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=65">VOLUME DAMPERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=206">PATCHES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=152">TDF FRAME</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=114">DUCT REINFORCEMENTS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">ROUND</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=68">SPIRAL &amp; PIPE</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=27">ELBOWS &amp; OFFSETS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=26">ROUND with CONICAL TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=72">ROUND WITH STRAIGHT TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=28">RECTANGULAR ON ROUND</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=84">ROUND WITH ANGLED TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=30">REDUCERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=29">SQUARE TO ROUND</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=31">FIRE DAMPER SLEEVES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=33">TAKE OFFs</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=32">FLEX</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=87">Couplers</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=88">Dampers</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=89">PLUGS / END CAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=91">Draw Bands</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">ROOF FLASHINGS &amp; CURBS</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=40">CURBS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=41">FLASHINGS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">16 GA WELDED RECTANGULAR</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=116">DUCT</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=117">ELBOWS &amp; TEES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=119">TRANSITIONS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=120">OFFSETS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=122">ACCESS DOORS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">16 GA WELDED ROUND</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=129">ROUND WITH CONICAL TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=130">ROUND WITH STRAIGHT TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=124">ROUND WITH ANGLED TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=123">RECTANGULAR ON ROUND</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=125">SQUARE TO ROUNDS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=126">ELBOWS &amp; OFFSETS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=127">REDUCERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=128">STOCK PIPE</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">18 ga WELDED RECTANGULAR</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=133">DUCT</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=134">ELBOWS &amp; TEES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=135">TRANSITIONS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=136">OFFSETS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=158">ACCESS DOORS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">18 ga WELDED ROUND</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=138">ROUND WITH CONICAL TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=139">ROUND WITH STRAIGHT TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=141">ROUND WITH ANGLED TAPS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=140">RECTANGULAR ON ROUND</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=142">SQUARE TO ROUNDS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=143">ELBOWS &amp; OFFSETS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=144">REDUCERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=145">STOCK PIPE</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle nochildren"><a href="?module=order&amp;action=showCategoryPublic&amp;id=159">PANS</a> </li>
            <li class="menutitle nochildren"><a href="?module=order&amp;action=showCategoryPublic&amp;id=149">FLASHING &amp; ANGLES</a> </li>
            <li class="menutitle nochildren"><a href="?module=order&amp;action=showCategoryPublic&amp;id=109">RESIDENTIAL PRODUCTS</a> </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">HANGERS &amp; SUPPORTS</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=112">HANGER STRAP</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=36">DUCT</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=110">ALL THREAD</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=111">UNISTRUT</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=35">SPIRAL</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=37">LEGS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=38">SUPPORTS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">Gripple Products</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=255">Gripple Trapeze</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=256">Gripple Standard Hangers</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">DUCT ACCESSORIES</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=81">ACCESS DOORS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=99">FIRE DAMPER ANGLE</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=93">S's &amp; Drives</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=94">TDF Accessories</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=62">DUCT TAPE &amp; POLY</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=95">SEALER</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=101">PAINT BRUSHES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=97">BYTLE TAPE</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=80">CLAMPS &amp; TIES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=113">ROUND FLEX</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=61">SILICONE &amp; CAULKING</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">HARDWARE</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=47">SCREWS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=48">ANCHORS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=51">BOLTS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=50">NUTS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=52">WASHERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=53">COUPLERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=82">LUMBER CRAYONS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=58">SPRAY PAINT</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=63">MISCELLANEOUS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle nochildren"><a href="?module=order&amp;action=showCategoryPublic&amp;id=44">SEISMIC</a> </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">TOOLS, BLADES &amp; BITS</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=75">LADDERS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=102">POWER TOOLS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=60">CUTTING BLADES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=59">METAL CUTTING</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=83">SNAP OFF BLADES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=104">GANG BOXES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=105">HANGER TOOLS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=106">TDF TOOLS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=56">SDS BITS</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=57">DRIVER BITS</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle" ng-class="{collapsible:submenu==true}"><a ng-click="submenu=!submenu">SAFETY SUPPLIES &amp; GLOVES</a>
                <div class="submenu" ng-show="submenu">
                    <ul class="menu">
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=204">Hi Visability &amp; First Aid</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=74">GLOVES</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=203">Eye, Ear &amp; Head Protection</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=201">Respirators &amp; Masks</a></li>
                        <li class="menuitem"><a href="?module=order&amp;action=showCategoryPublic&amp;id=202">Fall Protection</a></li>
                    </ul>
                </div>
            </li>
            <li class="menutitle nochildren"><a href="?module=order&amp;action=showCategoryPublic&amp;id=169">ABS Pipe &amp; Fittings</a> </li>
        </ul>
    </div>
</div>
<div id="cust_service" class="sidebar_block">
    <div class="inner">
        <h3>Customer Service</h3>
        <h4>1-855-932-3828</h4>
    </div>
</div>
<div id="purchase_terms" class="sidebar_block">
    <div class="inner">
        <h3>Purchase Terms</h3>
        <p><strong>IMPORTANT</strong> - Due to the custom nature of ordering ducting and duct accessories all orders are considered FINAL and custom products.</p>
    </div>
</div>
</div>
</div>
