<form class="form-inline" role="form" style="line-height: 300%; margin: 10px">
    <div class="form-group">
        <label for="product_filter">Product Filter</label>
        <select class="form-control" id="product_filter">
            <option value="none">None</option>
            <option value="1" selected="selected">MASTER CATALOG</option>
            <option value="2">Retail</option>
            <option value="3">Wholesaler</option>
            <option value="4">Mechanical</option>
            <option value="5">Sheet Metal</option>
        </select>
    </div>
    <div class="form-group" style="padding-left: 50px">
        <label for="search_name">Find a product</label>
        <input type="text" class="form-control" id="search_name" placeholder="Search by product name" style="width:300px">
    </div>
</form>